In [55]:
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers

In [12]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [13]:
print('Shape of training data : ',df_train.shape)
print('Shape of testing data : ',df_test.shape)

Shape of training data :  (42000, 785)
Shape of testing data :  (28000, 784)

In [24]:
df_train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
df_train_x = df_train.iloc[:,1:] #Independent Variables
df_train_y = df_train.iloc[:,0] #Dependent Variable or Target Variable

In [27]:
print(df_train_x.shape)
print(df_train_y.shape)

(42000, 784)
(42000,)

In [28]:
df_train_x = df_train_x/255
df_test = df_test/255

In [29]:
from keras.utils import to_categorical
df_train_y_one_hot = to_categorical(df_train_y)

In [35]:
df_train_y_one_hot[0]

array([0., 1., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32)

In [38]:
from keras.layers import Dense
from keras.models import Sequential

n_ip_feat = df_train_x.shape[1]
n_class = df_train_y.nunique()

ann_model = Sequential()
## Adding hidden layer
ann_model.add(Dense(units = n_ip_feat, input_dim = n_ip_feat, activation = "relu"))
## Adding output layer
ann_model.add(Dense(units = n_class, activation = "softmax"))

In [39]:
ann_model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 784)               615440
_________________________________________________________________
dense_2 (Dense)              (None, 10)                7850
=================================================================
Total params: 623,290
Trainable params: 623,290
Non-trainable params: 0
_________________________________________________________________

In [40]:
ann_model.compile(loss="categorical_crossentropy", optimizer = "adam", metrics=['accuracy'])

In [45]:
#Hyper parameters
training_epochs = 20
batch_size = 100

In [44]:
history1 = ann_model.fit(df_train_x, df_train_y_one_hot,
                     batch_size = batch_size,
                     epochs = training_epochs,
                     verbose = 2,)
#                      validation_data=(X_cv, y_cv))

Epoch 1/20
420/420 - 3s - loss: 0.2720 - accuracy: 0.9213
Epoch 2/20
420/420 - 3s - loss: 0.1064 - accuracy: 0.9690
Epoch 3/20
420/420 - 3s - loss: 0.0671 - accuracy: 0.9804
Epoch 4/20
420/420 - 3s - loss: 0.0465 - accuracy: 0.9859
Epoch 5/20
420/420 - 3s - loss: 0.0336 - accuracy: 0.9903
Epoch 6/20
420/420 - 3s - loss: 0.0235 - accuracy: 0.9935
Epoch 7/20
420/420 - 3s - loss: 0.0170 - accuracy: 0.9954
Epoch 8/20
420/420 - 3s - loss: 0.0112 - accuracy: 0.9974
Epoch 9/20
420/420 - 3s - loss: 0.0077 - accuracy: 0.9984
Epoch 10/20
420/420 - 3s - loss: 0.0072 - accuracy: 0.9982
Epoch 11/20
420/420 - 3s - loss: 0.0120 - accuracy: 0.9966
Epoch 12/20
420/420 - 3s - loss: 0.0102 - accuracy: 0.9969
Epoch 13/20
420/420 - 3s - loss: 0.0057 - accuracy: 0.9986
Epoch 14/20
420/420 - 3s - loss: 0.0039 - accuracy: 0.9990
Epoch 15/20
420/420 - 3s - loss: 0.0025 - accuracy: 0.9994
Epoch 16/20
420/420 - 3s - loss: 0.0127 - accuracy: 0.9956
Epoch 17/20
420/420 - 3s - loss: 0.0067 - accuracy: 0.9980
Epoch 18/20
420/420 - 3s - loss: 0.0024 - accuracy: 0.9995
Epoch 19/20
420/420 - 3s - loss: 5.4213e-04 - accuracy: 1.0000
Epoch 20/20
420/420 - 3s - loss: 2.1299e-04 - accuracy: 1.0000

In [46]:
y_test_pred = ann_model.predict_classes(df_test)

WARNING:tensorflow:From <ipython-input-46-7315b337be9a>:1: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).

In [60]:
y_test_pred.shape

(28000,)

In [84]:
predicted_df = pd.DataFrame()
predicted_df['ImageId'] = range(1,y_test_pred.shape[0]+1) 
predicted_df['Label'] = y_test_pred
predicted_df

       ImageId  Label
0            1      2
1            2      0
2            3      9
3            4      9
4            5      3
...        ...    ...
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

[28000 rows x 2 columns]

In [85]:
predicted_df.to_csv(os.getcwd()+'//submission.csv',index=False)